<div class="">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Bandera</th>
                <th scope="col">Nombre</th>
                <th scope="col">Capital</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of paises; let i = index;">
                <th scope="row">{{i + 1}}</th>
                <td>
                    <img class="small-flag" [src]="p.flags.png" alt="Country flag">
                </td>
                <td>{{p.name.common}}</td>
                <td>{{p.capital}}</td>
                <td>
                    <a [routerLink]="['/pais', p.cca2]" href="#">Ver...</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>